.leftback {
    float: left;
    display: flex;
    margin-right: 25px;
    width: 25%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
}

.leftback img {
    width: 100%;
}

h1 {
    font-size: 1.4rem;
    text-align: right;
    padding-right: 40px;
}

.media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 16px;
}

.songlist {
    padding-left: 8px;
}
