body {
    font-family: Courier, "Lucida Console", monospace;
    font-size: 2em;
    background-color: black;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 70%;
    height: 70vh;
    background-color: black;
    display: flex;
    align-items: center;
}

.leftback {
    width: 70%;
    background-color: black;
}

form {
    width: 70%;
    font-size: 1.5rem;
    color: white;
}

nav {
    width: 30%;
    background-color: black;
}

ul {
    list-style-type: none;
    line-height: 1.5em;
}

.nb {
    font-size: 1.4rem;
    color: white;
}
a {
    text-decoration: none;
    color: #d9d9d9;
    font-size: 1.1rem;
}

a:hover {
    color: white;
    font-size: 1.18rem;
}
