body {
    font-family: Courier, "Lucida Console", monospace;
    font-size: 2em;
    max-width: 1200px;
    margin: 0 auto;
    background-color: black;
}

.leftback {
    float: left;
    display: flex;
    width: 25%;
    height: 100vh;
    flex-direction: column;
    justify-content: space-around;
}

header {
    height: 20%;
    line-height: 1.2em;
    font-size: 1rem;
    margin: auto;
}

article {
    color: white;
    font-size: 0.8rem;
}

/*nav {*/
/*    width: 30%;*/
/*    background-color: black;*/
/*}*/

/*ul {*/
/*    list-style-type: none;*/
/*    line-height: 1.5em;*/
/*}*/

a {
    text-decoration: none;
    color: #d9d9d9;
    font-size: 1.1rem;
}

a:hover {
    color: white;
}